.button{
    width:200px;
    height: 38px;
    background-color: black;
    color:white;
    border:none;
    font-size: 18px;
    font-family: Verdana;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
    cursor: pointer;
}
.button:hover{
    font-size: 20px;
    background-color: black;
}