.component-box{
    height: fit-content;
    width: 330px;
    background-color: white;
    border: 8px solid rgb(199, 198, 198);
    border-radius: 10px;
    box-shadow: 3px 3px 5px inset gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0px;
}
.options-box{
    display: flex;
    width: 324px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;
}
.option-text{
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    color:#080808
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-input{
    width:300px;
    height:36px;
    border:0.5px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 3px inset rgb(177, 177, 177);
    font-size: 14px;
    font-family: Verdana;
    margin: 10px 0px;
}
.signup-button{
    margin: 20px 0px;
    width:200px;
    height: 38px;
    background-color: #282b77;
    color:white;
    border:none;
    font-size: 18px;
    font-family: Verdana;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
    cursor: pointer;
}
.signup-button:hover{
    font-size: 20px;
    background-color: rgb(17, 10, 52);
}
.forgot-password{
    font-size: 5px;
    font-family: Verdana;
}
a:hover{
    font-size: 17px;
}
a{
    margin-bottom: 2vh;
}