.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    align-items: center;
}

.NavigationItem a{
    color: rgb(191, 189, 189);
    text-decoration: none;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    color: rgb(239, 235, 235);
}


    .NavigationItem {
        margin: 0%;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    
    .NavigationItem a{
        color: white;
        text-decoration: none;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        background-color: rgb(191, 189, 189);
        border-bottom: 4px solid rgb(239, 235, 235);
        color: black;
    }
